
<div class="container" style="margin-top:100px">
    <div class="row">

        <div  class="col-12">
          <h2 class="text-info float-left"  >Angular Crud Operation</h2> 
             <button type="button" (click)="addButtonClickFunction()"  class="btn btn-info mb-3 float-right" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-plus"></i>  Add New Data
           </button>
         </div>
  

      <div class="col-12">
        

<table class="table table-sm table-stripped" >
    <thead>
        <tr  class="bg-info text-white text-center">
          <th>ID</th>

           <th>First Name</th>
           <th>Last Name</th>
           <th>Email</th>
           <th>Mobile Number</th>
           <th>Salary</th>
           <th>Action</th>
        </tr>        

        <tr *ngFor="let row of employeeData "  class="text-center">
          <td>{{row.id}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.Email}}</td>
          <td>{{row.Mobile}}</td>
          <td>{{row.Salary}}</td>
<td class="text-right">  


  <button  (click)="updateEmployee(row)" class="btn btn-outline-info  pl-3 pr-3 mx-2" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-pencil"></i> Edit</button>
  <button (click)="deleteEmployee(row)"  class="btn btn-outline-danger pl-3 " ><i class="fas fa-trash"></i> Delete</button>
</td>
        </tr>
    </thead>
</table>




      </div>
  
  
    </div>
  
  
  
  </div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" *ngIf="showAddTitle" id="exampleModalLabel">Add New Data</h5>
          <h5 class="modal-title text-primary" *ngIf="showUpdateTitle" id="exampleModalLabel">Update Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input formControlName="firstName"  id="firstName" class="form-control" placeholder="Enter First Name.." required> 
                </div>
                <div class="form-group">
                    <label for="lastName" >Last Name</label>
                    <input id="lastName" formControlName="lastName" type="text"  class="form-control" placeholder="Enter Last Name.." required> 
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input id="Email" type="email" formControlName="Email" class="form-control" placeholder="Enter email.." required> <br>
                </div>
                <div class="form-group">
                    <label for="Mobile">Mobile Number</label>
                    <input id="Mobile" type="text" formControlName="Mobile" class="form-control" placeholder="Enter Mobile Number.." required> <br>
    
                </div>
                <div class="form-group">
                    <label for="Salary">Salary</label>
                    <input id="text" type="text" formControlName="Salary" class="form-control" placeholder="Enter Salary.." required> <br>
    
    
                </div>
           
                  <button type="button"  id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" *ngIf="showAdd"  (click)="postEmployeeDetails()"  class="btn btn-primary mx-2" value="Save">
            <button type="button" *ngIf="showUpdate"  (click)="updateEmployeeDetails()"  class="btn btn-primary">Update</button>
               
   
           </form>
        </div>
       
      </div>
    </div>
  </div>
